.doctor{
    background-color: #FBFCFC;
    padding: 50px 50px;

    h2{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 15px;
        font-family: Roboto-regular;
    }

    form{
        background-color: white;
        padding: 25px;
        border-radius: 10px;
        margin-bottom: 20px;
        box-shadow: 2px 2px 5px #e0e0e0;

        h3{
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 25px; 
            font-family: Roboto-light;
        }

        .basic-info{
            display: flex;
            flex-wrap: wrap;

            .info{
                flex: 1 0 50%;

                label{
                    font-size: 16px;
                    font-weight: 400;
                    color: #857A8E;
                    font-family: Roboto-light;
                }
            
                input{
                    border:none;
                    outline-color: var(--color--medisevak);
                    padding: 15px 10px;
                    border: 1px solid lightgray;
                    border-radius: 3px;
                    font-size: 16px;
                    color: black;
                    display: block;
                    width: 100%;
                    box-sizing: border-box;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    background-color: #F8F9FA;
                    font-family: Roboto-regular;
                }

                .error{
                    color: red;
                    font-size: 12px;
                    margin-bottom: 20px;
                    font-family: Roboto-light;
                }

                .view-doctor-value{
                    padding: 15px 10px;
                    border: 1px solid lightgray;
                    border-radius: 3px;
                    font-size: 16px;
                    color: black;
                    background-color: #F8F9FA;
                    margin-top: 5px;
                    margin-bottom: 20px;
                }
            }

            .img{
                flex: 1 0 50%;
                text-align: center;
                margin-top: 20px;

                img{
                    height: 270px;
                    width: 250px;
                    border-radius: 5px;
                }

                .upload-img-btn{
                    
                    width: 20%;
                    color: white;
                    background-color: var(--color--medisevak);
                    font-size: 16px;
                    font-weight: 400;
                    padding: 10px 10px;
                    border-radius: 3px;
                    margin: 10px auto;
                    font-family: Roboto-light;
                    overflow: hidden;
                    cursor: pointer;
                    position: relative;


                    .file-input{
                        cursor: pointer;
                        height: 100%;
                        position:absolute;
                        top: 0;
                        right: 0;
                        z-index: 99;
                        /*This makes the button huge. If you want a bigger button, increase the font size*/
                        font-size:50px;
                        /*Opacity settings for all browsers*/
                        opacity: 0;
                        -moz-opacity: 0;
                        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
                    }
                    
                }
            }
        }

        .other-info{
            label{
                font-size: 18px;
                font-weight: 400;
                color: #857A8E;
                font-family: Roboto-light;

            }
        
            input{
                border:none;
                outline-color: var(--color--medisevak);
                padding: 15px 10px;
                border: 1px solid lightgray;
                border-radius: 3px;
                font-size: 16px;
                color: black;
                display: block;
                width: 50%;
                box-sizing: border-box;
                margin-top: 5px;
                margin-bottom: 20px;
                background-color: #F8F9FA;
                font-family: Roboto-regular;
            }

            .view-doctor-value{
                padding: 15px 10px;
                border: 1px solid lightgray;
                border-radius: 3px;
                font-size: 16px;
                color: black;
                background-color: #F8F9FA;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 50%;
                font-family: Roboto-regular;
            }

        }

        .other{
            .field-heading{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-bottom: 10px;

                label{
                    flex: 1 0 50%;
                    font-size: 20px;
                    font-weight: 500;
                    margin-bottom: 25px; 
                    font-family: Roboto-light;
                }

                .add-field-value{
                    background-color: var(--color--medisevak);
                    color: white;
                    border-radius: 3px;
                    padding: 5px 10px;
                    text-align: center;
                    font-family: Roboto-light;
                }
            }

            .feature-body {
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                input{
                    flex: 1 0 50%;
                    border:none;
                    outline-color: var(--color--medisevak);
                    padding: 15px 10px;
                    border: 1px solid lightgray;
                    border-radius: 3px 0px 0px 3px;
                    font-size: 16px;
                    color: black;
                    display: block;
                    width: 50%;
                    box-sizing: border-box;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    background-color: #F8F9FA;
                    font-family: Roboto-regular;
                }

                .cancel{
                    flex: 1 0 50%;                    

                    span{
                        background-color: var(--color--medisevak);
                        color: white;
                        font-size: 20px;
                        padding: 17px 20px 11px 20px;
                        border-radius: 0px 3px 3px 0px;
                    }

                }

                .view-doctor-value{
                    padding: 15px 10px;
                    border: 1px solid lightgray;
                    border-radius: 3px;
                    font-size: 16px;
                    color: black;
                    background-color: #F8F9FA;
                    margin-top: 5px;
                    margin-bottom: 20px;
                    width: 50%;
                    font-family: Roboto-regular;
                }

            }

        }

    }

    .doctor-btn{    
        margin: 40px 0px;

        span{
            padding: 15px 50px;
            font-size: 16px;
            font-weight: 500;
            color: white;
            background-color: var(--color--medisevak);
            border-radius: 3px;
            font-family: Roboto-light;
        }
    }

}

.doctor-listing{
    background-color: #FBFCFC;
    padding: 50px 50px;

    h2{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 15px;
        font-family: Roboto-regular;
    }

    form{
        background-color: white;
        padding: 25px;
        border-radius: 10px;
        margin-bottom: 20px;
        box-shadow: 2px 2px 5px #e0e0e0; 

        .doctor-top{
            display: flex;
            padding: 20px 0px;
            align-items: center;
    
            .search{
                flex: 9;
                font-size: 20px;
                font-weight: 500;
                font-family: Roboto-light;

                input{
                    border:none;
                    outline-color: var(--color--medisevak);
                    padding: 13px 10px 10px 10px;
                    border: 1px solid lightgray;
                    border-radius: 3px 0px 0px 3px;
                    font-size: 16px;
                    color: black;
                    width: 50%;
                    font-family: Roboto-light;
                }

                span{
                    padding: 10px 12px;
                    background-color: var(--color--medisevak);
                    border-radius: 0px 4px 4px 0px;

                    .icons{
                        color: white;
                    }

                }
                
            }
    
            .add-doctor{
                flex:  1 ;
                background-color: var(--color--medisevak);
                padding: 10px 20px;
                font-size: 16px;
                font-weight: 400;
                border: none;
                outline: none;
                border-radius: 3px;
                color: white;
                text-align: center;
                font-family: Roboto-regular;
            }
        }

        .line{
            border-bottom: 1px solid #f9f9f9;
            margin-bottom: 20px;
        }

        .listing-heading{
            display: flex;
            background-color: white;
            border-bottom: 1px dashed lightgray;
            display: flex;
            flex-wrap: wrap;

                .heading{
                    color: var(--color--medisevak);
                    font-size: 16px;
                    font-weight: 500;
                    flex: 1;
                    padding: 10px;
                    font-family: Roboto-regular;
                }
        }

        .listing-body{
            list-style-type: none;
            padding: 0;
            margin: 0;
            background-color: white;

            li{
                color: black;
                font-size: 16px;
                padding: 8px 10px;
                display: flex;
                flex-wrap: wrap;
                border-bottom: 1px dotted lightgray;
                align-items: center;
                font-family: Roboto-light;

                .body{
                    flex: 1;
                    padding: 10px;

                    
                    .icons{
                        color: gray;
                        font-size: 14px;
                    }
                }

                .body:first-letter {
                    text-transform:capitalize;
                }
            }
            li:nth-child(even) {background-color: #f2f2f2;}
        }
    }
}

