.app{

    .top-navbar{
        padding: 20px;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: fixed;
        width: 100%;
        z-index: 100;
        box-shadow: 2px 2px 5px #e0e0e0;

        .logo{
            flex: 1 0 90%;

            img{
                height: 25px;
            }
        }

        .logout{
            flex: 1 0 10%;
                        
        }

    }

    .sidebar{
        background-color: white;
        color: var(--color--medisevak);
        // width: 200px;
        height: 100%;
        position: fixed;
        box-shadow: 2px 2px 5px #e0e0e0;
        padding-top: 60px;

    
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
    
            .menu{
                padding: 30px 40px;
                border-bottom: 1px solid #e0e0e0;
                border-right: 0px solid var(--color--medisevak);
                color: gray;
                text-align: center;

                .name{
                font-size: 18px;
                font-family: Roboto-light;
                font-weight: 500;
                margin-top: 10px;
                cursor: pointer;
                }
            }
    
            .menu:hover{
                background-color: var(--color--medisevak);
                color: white;
            }

            .menu-selected{
                padding: 30px 40px;
                border-bottom: 1px solid #e0e0e0;
                border-right: 4px solid var(--color--medisevak);
                color: var(--color--medisevak);
                text-align: center;

                .name{
                    font-size: 18px;
                    font-family: Roboto-regular;
                    font-weight: 500;
                    margin-top: 10px;
                    cursor: pointer;
                }
            }
        }
    }

    .body-container{
        background-color: #FBFCFC;
        padding-top: 60px;
        padding-left: 180px;
    }

}
