

@font-face{
  font-family: 'UbuntuLatin300';
  src: url('../assets/fonts/ubuntu-v11-latin-300.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'UbuntuLatin500';
  src: url('../assets/fonts/ubuntu-v11-latin-500.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'UbuntuLatin700';
  src: url('../assets/fonts/ubuntu-v11-latin-700.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Roboto-black';
  src: url('../assets/fonts/Roboto-Black.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Roboto-bold';
  src: url('../assets/fonts/Roboto-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Roboto-light';
  src: url('../assets/fonts/Roboto-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Roboto-regular';
  src: url('../assets/fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Roboto-medium';
  src: url('../assets/fonts/Roboto-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "Anonymous-pro";
  src: url("../assets/fonts/AnonymousPro-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "Anonymous-pro";
  src:url("../assets/fonts/AnonymousPro-Bold.ttf");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "Frutiger"; 
  src: url("../assets/fonts/frutiger_regular.otf");
  font-style: normal;
  font-weight: 300;
}


@font-face {
  font-family: "Frutiger"; 
  src: url("../assets/fonts/frutiger_roman.otf");
  font-style: bold;
  font-weight: 290;
}


