*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  :root{
      
    /* colors */
    /* --color--medisevak : #740B9A; */
    --color--medisevak : #3997D1;
    --color-primary: #212121;
    --color-accent: #898989;
    --color-okay: rgb(0,221,117);
    --color-green: rgb(00 128 64);
    --color-red: #ff5056;
    --color-red-half-transparent:rgba(254,46,89, .4); 
    --color-blue: #00bfe3;
    --color-blue-dark: #0071bc;
    --color-blue-dark-trans: rgba(0,191,227,1);
    --color-primary-light: rgba(33,33,33,.1);
    --color-blue2: #46bcde;
    --status-msg-bg:rgba(0,191,227,0), rgba(0,191,227,0);
    --color-yellow: #e3c454;
    --dim-border-radius-primary: 3px;
    --dim-page-margin: 4rem;
  
    /*toastr*/
    --pos-toastr: fixed;
    --pos-toastr-top: 3.9rem;
    --pos-toastr-right: 1rem;
    --depth-toastr:1500;
    --dim-toastr-width: 65vw;

    /*toast*/
    --pos-toast-close-top: .85rem;
    --pos-toast-close-right: 1rem;
    --dim-toast-margin-top: 1rem;
    --dim-toast-padding: 1rem;
    --dim-toast-font-size: 1rem;
    --dim-toast-padding:1rem;
    --color-toast-warning: rgba(255,20,88,0.35);
    --color-toast-okay: rgba(0,221,117,0.35);
    --dim-toast-warning-box-shadow: 1px 1px 5px -0px rgba(255, 20, 80, 0.25);
    --dim-toast-okay-box-shadow: 1px 1px 5px -0px rgba(0,221,117,0.25);

}