.login-container{
    background-color: darkgrey;
    padding: 100px;
    background-image: url('../../assets/images/login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    @media (min-width: 320px) and (max-width: 480px) {
        padding: 10px;
    }


    .login-form{
        background-color: white;
        margin: 100px auto;
        padding: 50px 50px;
        width: 40%;
        border-radius: 3px;

        @media (min-width: 320px) and (max-width: 480px) {
            width: 70%;
            padding: 20px;
        }

        .login-title{
            text-align: center;
            margin-bottom: 50px;

            img{
                height: 30px;
            }
        }

        label{
            font-size: 16px;
            font-weight: 600;
            color: gray;
        }

        input{
            border:none;
            outline: none;
            padding: 20px 10px;
            border: 1px solid lightgray;
            border-radius: 3px;
            font-size: 16px;
            color: black;
            display: block;
            width: 100%;
            box-sizing: border-box;
            margin-top: 5px;
            margin-bottom: 10px;
        }

        .login-btn{
            border: none;
            background-color: orange;
            color: white;
            padding: 15px 20px;
            font-size: 18px;
            font-weight: 400;
            border-radius: 3px;
            outline: none;
            margin-top: 15px;
            text-align: center;
        }
    }
}